body {
    background-color: #ff0000;
    font: 16px Arial;
  }
  body main {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 960px;
  }
  body main header h1 {
    color: #e41405;
    border-bottom: 2px solid #ffc403;
    padding-bottom: 30px;
    text-align: center;
  }
  body main section.content {
    color: #5f5e60;
  }
  body main section.content h2, body main section.content h3 {
    color: #f8be00;
    border-bottom: 2px solid #fa0101;
    text-align: center;
  }